[submodule "Prism-RTL"]
	path = Prism-RTL
	url = https://github.com/Y10-Labs/Prism-RTL.git
[submodule "Prism-PCB"]
	path = Prism-PCB
	url = https://github.com/Y10-Labs/Prism-PCB.git
[submodule "Prism-Assets"]
	path = Prism-Assets
	url = https://github.com/Y10-Labs/Prism-Assets.git
[submodule "Prism-SW"]
	path = Prism-SW
	url = https://github.com/Y10-Labs/Prism-SW.git
